body {
    background-image: url("/assets/img/background.png");
}


.avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;

}

.square {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 5%;
}


ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

li {
    display: inline-block;
}

.aboveAvatar {
    margin-top: 50px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 34px;
    color: whitesmoke;
    line-height: 10px;

}


.nav{
    list-style:none;
    margin-top:25px;
    text-align:right;
    margin-right: 15px;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:15px;
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
    color: whitesmoke;
}

a:hover {
    transition: color 0.5s ;
    color: black;
}



.social-icons {
    text-align: center;
    margin-top: 50px;
}
.social-icons li {
    display:inline-block;
    list-style-type:none;
    -webkit-user-select:none;
    -moz-user-select:none;
}
.social-icons li a {
    border-bottom: none;
}
.social-icons li img {
    width:70px;
    height:70px;
    margin-right: 20px;
}

.underIcons {
    color: whitesmoke;
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    text-align: center;


    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 550px;

}


.buttonText {
    color: black;
    font-family: 'Bebas Neue', cursive;
    font-size: 26px;
    text-align: center;
    margin-top: 85px;

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;

}