body {
    background-image: url("/assets/img/background.png");
}


.avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

li {
    display: inline-block;

}

.aboveAvatar {
    text-align: center;
    font-weight: bold;
    font-family: Verdana, sans-serif;
    color: deepskyblue;

}


.nav{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
    color: deepskyblue;
    font-weight: bold;
    font-family: Verdana, sans-serif;
}
