body {
    background-image: url("/assets/img/background.png");
    background-size: 500px;
}


.avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;
}

.square {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 15%;
}


ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

li {
    display: inline-block;
}

.aboveAvatar {
    text-align: center;
    font-weight: bold;
    font-family: Verdana, sans-serif;
    color: deepskyblue;
    font-size: 30px;

}


.nav{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:25px;
    font-size: 30px;
    color: deepskyblue;
    font-weight: bold;
    font-family: Verdana, sans-serif;
}
