body {
    background-image: url("/assets/img/background.png");
}


.avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;
    border: 1px solid deepskyblue;

}

.square {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 5%;
}


ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

li {
    display: inline-block;
}

.aboveAvatar {
    text-align: center;
    font-weight: bold;
    font-family: Verdana, sans-serif;
    color: deepskyblue;
    font-size: 30px;

}


.nav{
    list-style:none;
    margin-top:75px;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:25px;
    font-size: 30px;
    color: deepskyblue;
    font-weight: bold;
    font-family: Verdana, sans-serif;
}

a:hover {
    transition: color 0.5s ;
    color: white;
}


.white {
    color: white;
}

.social-icons {
    text-align: center;
    margin-top: 50px;
}
.social-icons li {
    display:inline-block;
    list-style-type:none;
    -webkit-user-select:none;
    -moz-user-select:none;
}
.social-icons li a {
    border-bottom: none;
}
.social-icons li img {
    width:70px;
    height:70px;
    margin-right: 20px;
}